body {
    font-family:Georgia, 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    margin: 0;
    padding: 0;
    font-size: 24px;
}
/* .container {
    justify-content: center;
    padding: 20px;
} */

.container {
    flex-grow: 1;
    display: flex;
  }

/* Styles CSS pour la header */
.header {
    width: 850px;
    /* background-color: #f1f1f1; */
    padding: 20px;
}

.header ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.header li {
margin-bottom: 10px;
    text-align: center;
}


.header li p {
    font-size: 18px;
}

.header a {
text-decoration: none;
    color: #000;
}

.header a:hover {
    color: #ff0000;
}

/* Styles CSS pour la sidebar */
.sidebar {
    width: 850px;
    /* background-color: #f1f1f1; */
    padding: 20px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin-left: 40px;
}

.sidebar li {
    margin-bottom: 10px;
}

.sidebar a {
    text-decoration: none;
    /* color: #000; */
}

.sidebar a:hover {
    color: #ff0000;
}

/* message_success_error */
.msg {
    margin: 10px auto; 
    padding: 10px; 
    border-radius: 5px; 
    color: #2a842b; 
    background: #dff0d8; 
    border: 1px solid #3c763d;
    width: 50%;
    text-align: center;
    font-weight: 500;
    font-size: large;
}

.err {
    margin: 10px auto; 
    padding: 10px; 
    border-radius: 5px; 
    color: white; 
    background:rgb(194, 61, 61); /* rgb(244, 6, 6) ;  */
    border: 1px solid #800000;
    width: 50%;
    text-align: center;
    font-weight: 500;
    font-size: large;
}